<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Form</title>
  </head>
  <body>
    <form
      action="https://0ded-149-22-226-32.ngrok-free.app/v1/airbyte/googleads_oauth"
      method="post"
    >
      <label for="workspace_id">Workspace ID:</label>
      <input type="text" id="workspace_id" name="workspace_id" required />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
